<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Miftah Firdaus Portofolio</title>
    <link rel="stylesheet" href="/assets/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="content" id="content1">
        <h1>Hello {{.name}}</h1>
        <p>
          Selamat datang {{.name}} di website kami! Website ini dibuat
          menggunakan bahasa pemrograman GO, HTML dan CSS.
        </p>
        <p>
          Semoga kamu betah dengan tampilan yang kami sediakan ya! Jangan lupa
          makan dan berolahraga setiap hari :)
        </p>
      </div>
      <div class="content" id="content2">
        <img
          id="imgContent"
          src="https://img.freepik.com/free-vector/healthy-eating-plate-concept-illustration_114360-12333.jpg?w=740&t=st=1676434304~exp=1676434904~hmac=4463f49d7a5fe0d24df9704fb789d7ce308dab49e39131b397fb3f515186a59b"
          alt="Free vector healthy eating plate concept illustration by Storyset on Freepik"
        />
      </div>
    </div>
  </body>
</html>
